.site-image-container {
  height: 460px;
  width: 100%;
  overflow: hidden; /* Hide any overflow content */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.site-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transition: all 0.3s ease;
}

.archive-text {
  margin: 30px 0px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: all 0.3s ease;
}

.archive-site-container1:hover,
.archive-site-container2:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 8px rgb(255, 174, 0));
}

.archive-site-container1:hover .site-image,
.archive-site-container2:hover .site-image {
  transform: scale(1.1);
}

.archive-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: rgba(124, 14, 14, 0.664);
}

.archive-site-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(124, 14, 14);
  margin: 100px 25px 100px 100px;
  border-radius: 30px;
  opacity: 0;
  transform: translateY(30px);
  /* animation-delay: 0.3s; */
  transition: filter 0.2s ease;
}

.archive-site-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(124, 14, 14);
  margin: 100px 100px 100px 25px;
  border-radius: 30px;
  opacity: 0;
  transform: translateY(30px);
  /* animation-delay: 0.3s; */
  transition: filter 0.2s ease;
}

@media screen and (max-width: 1600px) {
  .site-image-container {
    height: 360px; /* Adjust the height for smaller screens */
  }
  .archive-site-container1 {
    margin: 100px 25px 100px 100px;
  }
  .archive-site-container2 {
    margin: 100px 100px 100px 25px;
  }
}
