/* Dropdown container */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%; /* Position the dropdown content below the parent container */
  left: 0; /* Align the dropdown content with the left edge of the parent container */
  background-color: #f9f9f9;
  width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown content when hovering over the dropdown container */
.topic:hover .dropdown-content {
  display: block;
}
