/* Dropdown container */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%; /* Position the dropdown content below the parent container */
  left: 0; /* Align the dropdown content with the left edge of the parent container */
  background-color: rgb(156, 8, 8);
  width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-top: 2px solid white;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  transition: all 0.2s ease;
  border-top: 1px solid white;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(231, 71, 71);
  font-weight: bold;
}

/* Show the dropdown content when hovering over the dropdown container */
.topic:hover .dropdown-content {
  display: block;
}
