.header {
  display: flex;
  flex-direction: row;
  height: 84px;
  justify-content: space-between;
  position: fixed;
  background-color: rgb(156, 8, 8);
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  color: white;
  align-items: center;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}

.logo {
  height: auto;
  width: 55px;
  border-radius: 35px;
  margin-left: 20px;
  background-color: white;
  transition: all 0.2s ease;
}

.left-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0);
  color: white;
  text-decoration: none;
}

.left-side:hover .logo {
  filter: drop-shadow(0px 0px 8px rgb(255, 174, 0));
}

.left-side:hover .eassa-name {
  filter: drop-shadow(0px 0px 8px rgb(255, 174, 0));
}

.eassa-name {
  margin-left: 10px;
  font-size: 45px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif, 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  background-color: rgba(255, 0, 0, 0);
  text-decoration: none;
  transition: all 0.2s ease;
}

.right-side {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0px;
  margin-right: 30px;
}

.right-text {
  position: absolute;
  font-weight: bold;
  width: 150px;
  background-color: rgba(0, 0, 255, 0);
  font-size: 24px;
  text-align: center;
  z-index: 8;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease;
}

.border {
  margin-top: 0px;
  width: 170px;
  height: 75px;
  object-fit: cover;
  padding: 0px;
  z-index: 5;
  opacity: 50%;
  margin: 0;
  opacity: 0%;
  transition: all 0.2s ease;
}

.topic {
  display: flex;
  color: white;
  position: relative;
  width: 170px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 255, 255, 0);
  height: 80px;
  padding: 0;
  margin: 0;
}

.topic:hover .border {
  opacity: 100%;
  cursor: pointer;
}

.topic:hover .right-text {
  filter: drop-shadow(0px 0px 8px rgb(255, 174, 0));
  cursor: pointer;
}
