.video-container {
  margin-bottom: 0px;
  width: 100%;
  height: 100vh;
  position: relative;
  display: block;
}

.home-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.home-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.eassa-text {
  font-size: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.mcgill-text {
  font-size: 50px;
  margin-top: 10px;
}

.mcgill-logo {
  width: 400px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.about-us-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.363);
  position: relative;
}

.about-description {
  font-size: 45px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.219);
  padding: 0px 100px;
  text-align: center;
  line-height: 1.5em;
}

.border-line-container {
  display: block;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  position: relative;
  padding: 0;
}

.border-line {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgba(124, 14, 14, 0.664);
  margin-top: 100px;
  padding-top: 70px;
  padding-bottom: 70px;
  margin: 100px 100px 0px 100px;
  border-radius: 100px;
  opacity: 0;
  transform: translateY(30px);
  /* animation-delay: 0.3s; */
}

.land-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgba(124, 14, 14, 0.664);
  padding-bottom: 70px;
  margin: 100px 100px 100px 100px;
  border-radius: 100px;
  opacity: 0;
  transform: translateY(100px);
  /* animation-delay: 0.3s; */
}

.about-section.animated,
.land-section.animated {
  animation: slideInUp 0.6s ease-out forwards;
}

.land-title {
  margin-top: 70px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.219);
}

.land-text {
  color: white;
  font-size: 35px;
  margin-top: 40px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.219);
  padding: 0px 100px;
  line-height: 1.5em;
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
