.placeholder {
  position: relative;
  padding: 250px;
  justify-content: center;
  align-items: center;
  background-color: pink;
  text-align: center;
  color: white;
  font-size: 100px;
  margin-bottom: 500px;
}

.about-us-container {
  display: flex;
  height: 500px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(192, 241, 255);
  text-align: center;
  color: white;
  font-size: 100px;
  margin-bottom: 600px;
}

.pages-image {
  width: 100%;
  object-fit: cover;
  margin: 0;
}

.about-us-title {
  margin-top: 200px;
  position: absolute;
}
